@import "tailwindcss";
/* @plugin "daisyui"; */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

.alert-error {
  background-color: rgb(233, 31, 31);
  color: #fff;
}

.alert-warning {
  background-color: rgb(247, 247, 55);
  color: #fff;
}
